n8n-workflows/ci-llm-analyzer.json
{
  "name": "CI LLM Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-analyze",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d7e3c8f1-5b2a-4e9d-8c7f-1a2b3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ci-llm-analyzer"
    },
    {
      "parameters": {
        "jsCode": "// 요청 데이터 정리 및 검증\nconst inputData = $input.first().json;\n\nreturn {\n  json: {\n    ci_log: inputData.ci_log || \"\",\n    symptoms: inputData.symptoms || [],\n    error_type: inputData.error_type || \"unknown\",\n    context: inputData.context || \"\",\n    repository: inputData.repository || \"\"\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "전처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PRIVATE_LLM_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.PRIVATE_LLM_MODEL || 'llama-3-70b' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"당신은 자동차 소프트웨어 CI/CD 오류 분석 전문가입니다. Tasking, NXP, Polyspace, Simulink, AUTOSAR, CAN 등의 도구에서 발생하는 오류를 분석하고 해결책을 제시하세요. 한국어로 답변하세요.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"CI 로그:\\n{{ $json.ci_log }}\\n\\n증상:\\n{{ $json.symptoms.join('\\\\n') }}\\n\\n오류 타입: {{ $json.error_type }}\\n\\n컨텍스트: {{ $json.context }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 1000\n}",
        "options": {
          "timeout": 25000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Private LLM 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// LLM 응답 처리\nconst llmResponse = $input.first().json;\nconst analysis = llmResponse.choices?.[0]?.message?.content || \"분석 결과를 가져올 수 없습니다.\";\n\n// 신뢰도 계산 (간단한 휴리스틱)\nlet confidence = 0.5;\nif (analysis.length > 200) {\n  confidence = 0.85;\n} else if (analysis.length > 100) {\n  confidence = 0.75;\n} else if (analysis.length > 50) {\n  confidence = 0.6;\n}\n\n// 오류 키워드 확인으로 신뢰도 조정\nconst errorKeywords = ['tasking', 'nxp', 'polyspace', 'simulink', 'autosar', 'can'];\nconst hasKeyword = errorKeywords.some(keyword => \n  analysis.toLowerCase().includes(keyword)\n);\n\nif (hasKeyword) {\n  confidence = Math.min(confidence + 0.1, 0.95);\n}\n\nreturn {\n  json: {\n    analysis: analysis,\n    confidence: confidence\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "후처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "전처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전처리": {
      "main": [
        [
          {
            "node": "Private LLM 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Private LLM 호출": {
      "main": [
        [
          {
            "node": "후처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "후처리": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "ci-llm-analyzer",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
